@font-face {
	font-family: latoBold;
	src: url('../fonts/latobold.ttf');
	src: url('../fonts/latoBold.ttf?#iefix') format('truetype'), /* IE6-IE8 */
		 url('../fonts/latobold.ttf') format('ttf'), /* Super Modern Browsers */
         url('../fonts/latobold.ttf') format('ttf'), /* Pretty Modern Browsers */
         url('../fonts/latobold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/latobold.ttf#svgFontName') format('truetype'); /* Legacy iOS */
}

@font-face {
	font-family: latoLight;
	src: url('../fonts/latolight.ttf');
}

@font-face {
	font-family: latoRegular;
	src: url('../fonts/latoregular.ttf');
}

html {
	min-height: 100%;
}

body {
	height: 100%;
	margin-bottom: 60px;
	background: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-family: latoBold;
	font-size: 70px;
	text-align: center;
	margin-top: 35vh;
}

h1:after {
	content: "DUVAL";
	font-family: latoLight;
}

.nav {
	text-align: center;
	background-color: #000;
}



div {
	padding: 0 !important;
	margin: 0 !important;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #000;
	color: #fff;
	height: 60px;
}

footer p {
	text-align: right;
	line-height: 100%;
}

footer img {
	height: 50px;
	width: 50px;
}

.footer {
	height: 100%;
	font-family: latoRegular;
	font-size: 12px;
}

.footer div {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 10% !important;
	height: 100%;
	
}

.footer div:last-of-type {
	padding-top: 24px !important;
	padding-right: 10% !important;
	padding-left: 0 !important;
	padding-bottom: 24px !important;
}

.nav a {
	font-family: latoRegular;
	text-transform: uppercase;
	display: inline-block;
	background-color: #000;
	color: #fff;
	width: 10%;
	line-height: 300%;
}

.nav a:hover {
	text-decoration: none;
	background-color: #fff;
	color: orange;
}